################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Auraloop/.vs/Auraloop
/Auraloop/obj
/ApiTester/obj
/AuraLoopBackEnd/obj
/NeteaseCloudMusicApi-SDK/bin/Debug/net6.0
/NeteaseCloudMusicApi-SDK/obj
/ApiTester/bin/Debug/net6.0
/Auraloop/ConsoleApp1/bin/Debug/net6.0
/Auraloop/ConsoleApp1/obj
